/* menü satırı için gerekli css başlangıç */
#baslik {
  float: left;
}

#top {
  margin-top: 20px;
}
#menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#menu li {
  display: inline;
  float: left;
}

#menu li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#menu li a:hover {
  background-color: lightgrey;
  color: black;
}

.clearDiv {
  clear: both;
}

/* menu satırı css bitişi */

/* otel tanıtım  css başlangıç */
#ana-otel {
  width: 100%;
  text-align: center;
  border: 3px solid black;
  display: block;
  height: 450px;
}

.otel {
  width: 19%;
  height: 450px;
  border: 2px solid darkgrey;
  display: inline-block;
  margin-left: 3px;
  margin-right: 3px;
  float: left;
  text-align: center;
}

.otel a {
  color: black;
  text-decoration: none;
}

.otel a:hover {
  color: coral;
}
.otel img {
  width: 100%;
  margin: 0;
}
.otel table {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

/* otel tanıtım  css bitiş */

/* satına alma koşulları başla */

#satis h3 {
  width: 100%;
  text-align: center;
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

#satis p {
  width: 100%;
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 2px 7px 2px 7px;
}
/* satın alma koşulları bitiş */

/* hakkımızda başlangıç */
#about {
  width: 100%;
  margin: 0;
  padding: 0;
}

.aboutcon {
  width: 100%;
  height: 250px;
  margin: 0;
  padding: 0;
  border: 4px solid darkgrey;
}

.aboutimg {
  width: 49%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 12px;
  text-align: center;
  float: left;
}
.abouttext {
  width: 49%;
  height: 225px;
  margin: 0;
  padding: 0;
  display: block;
  text-align: left;
  float: left;
}

#firmaoz {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 1px solid black;
  display: block;
  border: 4px solid darkgrey;
}

#firmaoz h2 {
  text-align: center;
}
/* hakkımızda bitiş */

/* footer başlangıç */

#footer {
  width: 100%;

  float: left;
  background-color: darkgrey;
  color: white;
  text-decoration: none;
}
.fbolme {
  width: 32%;
  margin: 2px;
  padding: 5px;
  float: left;
  text-align: left;
  text-decoration: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.fbolme ul {
  list-style-type: none;
}
.fbolme ul li a {
  color: white;
  width: 33%;
  font-size: 14px;
  text-decoration: none;
}

/* footer bitiş */

/*contact css */
.contact-main-div {
  width: 95%;
  margin: 0 auto;
}
#contact-header-div {
  text-align: center;
}
.contact-wrapper-div {
  width: 100%;
}

.contact-info-divs {
  width: 46%;
  float: left;
  border: 3px solid lightgrey;
  height: 295px;
  padding-top: 20px;
}

#contact-img {
  text-align: center;
}

#contact-adress {
  margin-left: 20px;
  padding-left: 20px;
}

#contact-adress p {
  font-size: 1.2em;
  text-indent: 1em;
}

#contact-adress h2 {
  font-size: 2 em;
}
.buton {
  border: 2px solid lightpink;
  background-color: lightpink;
  font-size: 15px;
  border-radius: 10px;
  width: 70px;
  height: 30px;
  padding: 5px;
  margin-top: 5px;
  text-align: center;
}
/** form css*/

.form-style {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  background-color: grey;
  color: beige;
  padding: 10px;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  border-radius: 15px;
  float: left;
}
.form-style h1 {
  padding: 1px;
  border-bottom: 1px solid lightslategrey;
  text-align: center;
}

.form-style label {
  display: block;
  margin: 0px 0px 5px;
}

.form-style input[type="text"],
.form-style input[type="email"],
.form-style input[type="password"] {
  color: lightslategray;
  height: 25px;

  padding: 5px;
  width: 90%;
  background-color: lavender;
}

.radiolabel {
  width: 50%;
}
.form-style input[type="radio"] {
  width: 50%;
  height: 15px;

  padding: 5px 0px 5px 5px;

  background-color: lavender;
}
/* FORM BİTİŞ */

#alt-yazi {
  width: 100%;
  align-items: center;
  text-align: left;
}

#alt-yazi h2 {
  display: grid;
  width: 100%;
  align-items: center;
  text-align: center;
  grid-template-columns: minmax(20px, 1fr) auto minmax(20px, 1fr);
  grid-gap: 20px;
}

#alt-yazi h2:before,
#alt-yazi h2:after {
  content: " ";
  border-top: 2px solid;
}

/* env */

#altyazi h2 {
  margin: 30px 0;
  font: 700 2em/1.4 "Avenir", sans-serif;
  color: rgb(54, 52, 52);
}

#alt-yazi h3 {
  font-size: 15px;
  text-align: center;
}

#alt-yazi a {
  text-align: center;
}

.top-body {
  width: 30%;
  float: left;
  margin: 5px;
  background-color: thistle;
}

.foto-body {
  width: 100%;
  margin: 0;
  float: left;
}

.link-body {
  width: 100%;
  margin: 0 auto;
  color: antiquewhite;
  list-style: none;
  background-color: rgb(0, 0, 0);
  opacity: 0.7;
  float: left;
  position: relative;
}

.list-body {
  color: antiquewhite;
  list-style: none;
  margin: 3px;
}

#resimHeader {
  font-size: 5em;
}

#resimParag {
  font-weight: bold;
}

#resimBut {
  padding: 10px 22px;
  background-color: indianred;
  color: white;
  text-decoration: none;
  font-size: 18px;
  border-radius: 20px;
}

#resimBut:hover {
  background-color: aqua;
  font-weight: bolder;
}

.resimFont {
  font-size: 1.8em;
  background-color: white;
  color: dodgerblue;
  border: 1px solid dodgerblue;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  display: block;
}

#gezici-div {
  position: absolute;
  top: 10%;
  left: 10%;
  color: white;
}

#resimHeader-res {
  display: none;
}

.innerDivs img {
  width: 100%;
}

#middleHolder {
  width: 100%;
  height: 200px;
  position: relative;
  float: left;
}

#middleHolder div {
  float: left;
  width: 21%;
  height: 100px;
  border: 1px solid black;
  padding: 10px 16px;
}

#middleHolder div img {
  float: left;
  max-width: 20%;
  margin-right: 5px;
}

#middleHolder div h3 {
  /* float: left; */
  padding: 0;
  margin: 0;
}

#middleHolder div p {
  padding: 0;
  margin: 0;
}

/*RESPONSIVE KISIM*/

@media only screen and (max-width: 1200px) {
  .innerDivs {
    width: 100%;
  }
}

@media only screen and (max-width: 992px) {
  .innerDivs {
    margin: 1px;
  }
}

@media only screen and (max-width: 768px) {
  .innerDivs {
    margin: 5px;
  }
}

@media only screen and (max-width: 600px) {
  .innerDivs {
    margin: 10px;
  }

  .resimFont {
    font-size: 0.8em;
  }

  #gezici-div {
    top: 20%;
  }

  #resimHeader {
    font-size: 0.8em;
  }

  #resimHeader-res {
    display: block;
  }

  .innerDivs img {
    width: 100%;
    object-fit: none;
    height: 100%;
  }
}
